/*移动端和PC端的切换*/
#head_MB,.filtrate_head,#seMask,.search_word var,.load_more{
	display: none;
}
/*container*/
#container{
	margin: 0 auto;
	position: relative;
}
.productes,#advertise{
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
#cplb{
	width: 1210px;
	margin: 0 auto;
	position: relative;
}

/*0306修改BEGIN*/
/*产品类别开始*/
#cplb-dh{
	width: 1210px;
	margin: 20px auto 19px;
}
.cplb-dh-main-t {
	height: 42px;
	background-color: #F2F2F2;
	line-height: 42px;
	border: 1px solid #E5E5E5;
}
.cplb-dh-main-font{
	margin-left: 14px;
}
.cplb-dh-main-font a{
	text-decoration: none;
	color: #333;
	font-size: 14px;
}
.cplb-dh-main-font a:hover em{
	color: #D21E2F;
}
/*筛选*/
.screen{
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 0 10px;
	border: 1px solid #E5E5E5;
}
.screen_box li{
	padding: 11px 0;
	border-top: 1px dashed #E5E5E5;
	color: #6B6B6B;
	position: relative;
}
.screen_box li:nth-of-type(1){
	border-top: none;
}
.scr_title{
	float: left;
	width: 126px;
	border-right: 1px solid #E5E5E5;
}
.scr_title p{
	margin-left: 12px;
	padding: 5px 0;
}
.scr_title span{
	font-size: 12px;
	margin-left: 8px;
}
.scr_select{
	float: right;
	width: 970px;
	height: 24px;
	overflow: hidden;
	padding-right: 70px;
}
.scr_select a,.SSBox em{
	float: left;
	padding: 3px 6px;
	cursor: pointer;
	margin-right: 15px;
	margin-bottom: 6px;
	border: 1px solid transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.scr_select a:hover{
	border-color: #6B6B6B;
	color: #000;
}
.SSBox{
	overflow: hidden;
}
.CT_ALL_SP{
	position: absolute;
	right: 5px;
	top: 15px;
	display: none;
	cursor: pointer;
	color: #6B6B6B;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.CT_ALL_SP i{
	display: inline-block;
	width: 14px;
	height: 11px;
	background-image: url(../img/product_classify_MB/arrowTB.png);
	background-repeat: no-repeat;
	background-size: 129px;
	margin-left: 5px;
	background-position: 0px 2px;
}
/*已筛选的条件*/
.SS_seled i{
	position: absolute;
	top: 3px;
	right: 3px;
	font-size: 20px;
	height: 22px;
}
.cplb-dh-main-font .SS_seled{
	position: relative;
	padding: 4px 24px 4px 7px;
	border: 1px solid #999;
	cursor: pointer;
	margin-right: 3px;
	display: inline-block;
	line-height: 1em;
	background-color: #fff;
	color: #D21E2F;
}
.SS_seled em{
	color: #000;
}
.SS_seled:hover{
	border-color: #d21e2f;
	color: #d21e2f;
}

/*0306修改END*/

/*商品分类中坚层开始*/
.productes{
	width: 1210px;
	margin: 0 auto;
	font-size: 14px;
}
.productes-top{
	overflow: hidden;
	border-bottom: 2px solid #E5E5E5;
	padding-bottom: 5px;
}

/*左侧的功能栏*/
.productes-top-left{
	float: left;
	overflow: hidden;
}
.productes-top-left li{
	float: left;
	width: 67px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-right: 2px;
	padding-left: 10px;
	background-color: #F6EFE9;
	cursor: pointer;
}
.productes-top-left li:hover{
	background-color: #DBDBDB;
}
.productes-top-left1{
	background: url(../img/product_classify_MB/H.png) 6px 9px no-repeat;
}
.productes-top-left2{
	background: #F6EFE9 url(../img/product_classify_MB/N.png) 6px 9px no-repeat;
}
.productes-top-left .productes-top-left3{
	padding: 0 10px 0 0;
	background: #F6EFE9 url(../img/product_classify_MB/arrow.png) 57px 9px no-repeat;
}
.productes-top-left .productes-top-left4{
	padding: 0 5px;
}

/*产品样式开始*/
.productes-main{
	margin: 12px 0 46px;
}
.productes-main ul{
	overflow: hidden;
	width: 100%;
}
.productes-main ul li{
	float: left;
	border: 1px solid transparent;
	padding: 5px;
	width: 230px;
	height: 346px;
}
.productes-main ul li:hover{
	border-color: #AFAFAF;
}

/*单个产品*/
/*先预设一个透明的边框*/
.product-right{
	position: relative;
}
.productes-main-one{
	overflow: hidden;
}
.productes-main-one-price{
	color: #D21E2F;
	font-size: 20px;
	margin: 10px 0 15px;
	position: relative;
}
.productes-main-one-price span{
	font-size: 14px;
	color: #999;
	position: absolute;
	right: 0;
	top: 0;
	line-height: 20px;
	text-decoration: line-through;
}
.productes-main-one-describe{
	margin-top: 10px;
}
.productes-main-one-describe a{
	height: 3em;
	overflow: hidden;
	line-height: 1.5em;
	word-wrap: break-word;
	word-break: break-all;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	display: block;
}
.productes-main-one-describe a:hover{
	color: #D7000F;
}
.situation{
	margin: 10px 0 5px;
	overflow: hidden;
	font-size: 14px;
}
.productes-main-one-sale{
	float: left;
	color: #666;
	margin-right: 6px;
}
.productes-main-one-sale span{
	color: #D7000F;
	font-weight: bolder;
}
.productes-main-one-evaluate{
	float: left;
	color: #0084E1;
	border-left: 2px solid gray;
	padding-left: 6px;
}
.productes-main-one-compare{
	position: absolute;
	right: 0px;
	bottom: -2px;
	width: 36px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #fff;
	border-radius: 4px;
	background-color: #D7000F;
}
.productes-main-one-compare:hover{
	color: #fff;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.productes-main-one-store a{
	color: #8E8E8E;
	font: 15px "宋体";
}
/*产品样式结束*/

/*产品下面的分页栏*/
.productes-bottom{
	margin-top:15px ;
}
.productes-bottom ul{
	list-style: none;
	overflow: hidden;
	text-align: center;
}
.productes-bottom ul li{
	display: inline-block;
	width: 53px;
	height: 32px;
	line-height: 32px;
	border: 1px solid #949494;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}
.productes-bottom ul .PCB_li1{
	background-color: #D22B34;
	color: #fff;
}
.productes-bottom a{
	text-decoration: none;
	color: black;
}
#PCB_page li:hover{
	background-color: #D22B34;
	color: white;
}
/*商品分类中坚层结束*/
/*底层广告开始*/
#advertise{
	width: 1210px;
	overflow: hidden;
	margin: 54px auto;
}
#advertise a{
	display: block;
	float: left;
	width: 380px;
	height: 240px;
	margin-left: 35px;
	position: relative;
}
#advertise a:nth-of-type(1){
	margin-left: 0;
}
#advertise a:hover div{
	opacity: 1;
	display: block \9;
}
#advertise a .AD_tipsImg{
	transition: opacity 0.4s linear;
	display: none \9;
	opacity: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	font-size: 22px;
	color: #fff;
	font-family: "microsoft yahei";
	font-style: italic;
	margin: auto;
	text-align: center;
	width: 380px;
	height: 100%;
}
#advertise a .AD_tipsImg p{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.2;
	filter: alpha(opacity=20);
}
.AD_tipsImg img{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	z-index: 5;
}
/*底层广告结束*/
.banner-roll{
	margin: 0 auto;
	overflow: hidden;
	min-width: 1210px;
}
#product-banner{
	position: relative;
	min-width: 1210px;
}
.banImg{
	position: relative;
}
.productes-main-one-img img{
	width: 100%;
	height: 100%;
}
.productes-main-one-img a{
	display: block;
	height: 230px;
}

/*0119搜索结果*/
.search_result{
	width: 1208px;
	margin: 0 auto 20px;
	height: 44px;
	line-height: 44px;
	background-color: #F2F2F2;
	font-size: 16px;
	border: 1px solid #E5E5E5;
}
.search_result span{
	margin-left: 13px;
}
.search_result em{
	color: #d21e2f;
}
