/*移动端和PC端的切换*/
#seMask,.banner-roll,#advertise,#cplb-dh,.CT_ALL_SP,.scr_title span,.productes-bottom{
	display: none;
}
p{max-height: 99999999px;}
/*reset*/
input{
	font-size: 24px;
	font-family: simhei;
}
#container,body {
  width: 640px;
}
body {
  font: 20px simhei, "microsoft yahei", "Helvetica Neue", "Droid Sans Fallback", sans-serif, "\5B8B\4F53";
  background-color: #fff;
  color: #333;
}
/*头部搜索*/
.head_search{
	display: inline-block;
	width: 530px;
	height: 50px;
	vertical-align: middle;
	position: relative;
}
.head_search p{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 5;
	top: 0;
	left: 0;
	background-color: #EFEFEF;
	opacity: 0;
	filter: alpha(opacity=0);
}
#head_MB{
	border-bottom: 1px solid #C9C9C9;
	background-color: #fff;
	height: 86px;
	line-height: 86px;
	overflow: hidden;
}
#head_MB .head_back{
	display: inline-block;
	font-size: 36px;
	text-align: center;
	width: 72px;
	vertical-align: middle;
}
#search_MB{
	display: inline-block;
	width: 100%;
	vertical-align: top;
	height: 50px;
	padding-left: 29px;
	box-sizing: border-box;
	background-color: #EFEFEF;
	border-radius: 5px;
	border: none;
	font-size: 24px;
	line-height: 50px;
}
/*	条件筛选	*/
.screen_box{
	background-color: #fff;
	position: relative;
	z-index: 30;
}
.screen_box li{
	float: left;
	width: 25%;
	cursor: default;
	box-sizing: border-box;
}
.screen_box li:last-child{
	border-right: 1px solid #A2A2A2;
}
.scr_title{
	width: 100%;
	float: left;
	font-size: 24px;
	padding: 9px 0;
	text-align: center;
	box-sizing: border-box;
	border-bottom: 1px solid #A2A2A2;
}
.scr_title p{
	padding: 17px 0;
	border-left: 1px solid #A2A2A2;
}
.screen_box li:nth-of-type(4n+1) .scr_title p{
	border-left: none;
}
.SSBox,.three_link{
	display: none;
	position: absolute;
	top: 81px;
	left: 0px;
	z-index: 30;
	width: 640px;
	background-color: #fff;
	padding: 0 36px 28px;
	box-sizing: border-box;
	overflow: hidden;
}
.three_link{
	text-align: center;
}
.three_link select{
	display: inline-block;
	font: 24px simhei;
	padding: 12.5px 8px;
	color: #333;
	margin-top: 28px;
	border-radius: 5px;
}
.SSBox a,.SSBox em{
	float: left;
	width: 149px;
	height: 49px;
	line-height: 49px;
	font-size: 24px;
	text-align: center;
	border: 1px solid #A2A2A2;
	border-radius: 5px;
	margin-top: 28px;
	overflow: hidden;
	word-break: normal;
	word-wrap: normal;
}
.SSBox a:nth-child(3n+2){
	margin: 28px 54px 0;
}
.SSBox .noSel{
	border-color: #a2a2a2;
	color: #333;
}
.SSBox .SeledO{
	border-color: #D21E2F;
	color: #D21E2F;
}
.scr_title .selArrowB,.scr_title .selArrowT{
	display: inline-block;
	width: 14px;
	height: 10px;
	vertical-align: middle;
	background-image: url(../img/product_classify_MB/arrowTB.png);
	background-repeat: no-repeat;
	background-size: 143px;
	margin-left: 6px;
	margin-top: -4px
}
.scr_title .selArrowB{background-position: 0px 0px;}
.scr_title .selArrowT{background-position: -129px -61px;}
#seMask{
	position: fixed;
	top: 0px;
	left: 0;
	z-index: 6;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.4;
	filter: alpha(opacity=40);
}

/*左侧的功能栏*/
.productes-top-left{
	height: 65px;
	line-height: 65px;
	border-bottom: 1px solid #CFCFCF;
	overflow: hidden;
}
.productes-top-left li{
	line-height: 65px;
	box-sizing: border-box;
	text-align: center;
	background-color: #fff;
	position: relative;
	width: 25%;
	float: left;
	font-size: 24px;
	cursor: pointer;
}
.productes-top-left li span{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto 0;
	height: 35px;
	border-right: 2px solid #ccc;
}
.productes-top-left .productes-top-left4{
	border: none;
}



/*产品样式开始*/
.productes-main{
	overflow: hidden;
	background-color: #ECECEC;
}
.productes-main ul{
	overflow: hidden;
	width: 100%;
	box-sizing: border-box;
	padding: 0 20px 20px;
}
.productes-main ul li{
	padding-top: 20px;
}
.productes-main-one{
	overflow: hidden;
}
.productes-main-one-img{
	float: left;
	width: 220px;
	height: 220px;
	overflow: hidden;
}
.productes-main-one-img a{
	width: 100%;
	height: 100%;
	display: block;
}
.productes-main-one-img img{
	width: 100%;
	height: 100%;
}
.product-right{
	float: right;
	width: 359px;
	height: 220px;
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #999;
}
.productes-main-one-price{
	color: #D50A00;
	font: 22px "microsoft yahei";
	margin: 3px 0;
	position: relative;
}
.productes-main-one-price span{
	position: absolute;
	top: 2px;
	right: 0;
	font-size: 18px;
	color: #8E8E8E;
	text-decoration: line-through;
}
.productes-main-one-describe{
	font-size: 24px;
	line-height: 1.25em;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	height: 4em;
}
.productes-main-one-describe a{
	text-decoration: none;
}
.productes-main-one-describe a:hover{
	color: #D7000F;
}
.situation{
	overflow: hidden;
	font-size: 20px;
}
.productes-main-one-sale{
	display: inline-block;
	color: #666;
	margin: 10px 0;
	vertical-align: middle;
}
.productes-main-one-sale span{
	color: #D50A00;
	font-weight: bolder;
}
.productes-main-one-evaluate{
	display: block;
	color: #0084E1;
	vertical-align: middle;
}
.productes-main-one-compare{
	position: absolute;
	right: 0px;
	bottom: 12px;
	width: 69px;
	height: 31px;
	line-height: 31px;
	text-align: center;
	color: #fff;
	border-radius: 4px;
	background-color: #D7000F;
}
.productes-main-one-compare:hover{
	color: #fff;
}
.productes-main-one-store a{
	position: absolute;
	bottom: 2px;
	font-size: 14px;
	color: #666;
}
/*产品样式结束*/



/*0119搜索结果*/
.search_result{
	font-family: simhei;
	border-top: 1px solid #A2A2A2;
	border-bottom: 1px solid #A2A2A2;
	font-size: 20px;
	padding: 16px 0 16px 10px;
}
.search_result em{
	color: #D21E2F;
}
/*0314加载更多*/
.load_more{
	height: 76px;
	line-height: 76px;
	background-color: #fff;
	text-align: center;
	font-size: 24px;
	color: #B2B4B6;
	letter-spacing: 1px;
	border-bottom: 1px solid #CFCFCF;
}
.loadgif1{
	display: inline-block;
	width: 22px;
	height: 76px;
	line-height: 76px;
	margin-left: 8px;
}
.loadgif1 img{
	width: 100%;
	margin-top: -5px;
}