/*reset*/
#MB_head{
	display: none;
}
#container{
	width: 1210px;
	margin: 0 auto;
}
input{
	font-family: "microsoft yahei";
}

/*===左边共同板块Begin===*/
#main{
	overflow: hidden;
	margin-top: 24px;
}
.main_left{
	float: left;
	width: 300px;
	margin-bottom: 27px;
}
/*免费预约*/
.appoint_box h4{
	height: 35px;
	line-height: 35px;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 16px;
	letter-spacing: 1px;
	background-color: #D21E2F;
	font-weight: normal;
}
.AB_submit{
	cursor: pointer;
}
.AB_submit:hover,.immedGet:hover{
	opacity: 0.8;
	filter: alpha(opacity=80);
	color: #fff;
}
.send_main{
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	padding: 1px 11px 11px;
}
.send_main .phBox{
  display: block;
  height: 38px;
  position: relative;
  margin-top: 11px;
  border: 1px solid #e5e5e5;
}
.send_main .phBox span {
  position: absolute;
  top: 0;
  left: 14px;
  height: 38px;
  line-height: 38px;
  color: #a2a2a2;
  z-index: 5;
  cursor: text;
}
.send_main .phBox input{
  height: 38px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 14px;
  width: 100%;
  border: none;
}
.placeBox{
	overflow: hidden;
	margin-top: 11px;
}
.form-group{
	width: 123px;
	height: 38px;
}
.formG1{
	float: left;
}
.formG2{
	float: right;
}
.form-group select{
	width: 100%;
	height: 100%;
	border: 1px solid #e5e5e5;
	font-family: "microsoft yahei";
	padding-left: 11px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #A2A2A2;
}

/*预约申请成功*/
.free-two {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0;
  margin: auto;
  width: 478px;
  height: 509px;
  background-color: #727272;
  display: none;
  z-index: 60;
}
.two-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 468px;
  height: 499px;
  background-color: #fff;
}
.two-title {
  width: 100%;
  height: 121px;
  background-color: #d21e2f;
}
.two-logo {
  width: 47px;
  height: 47px;
  float: left;
}
.two-logo img,
.two-Spokesman img {
  width: 100%;
  height: 100%;
}
.two-Spokesman {
  float: left;
  width: 153px;
  height: 156px;
  margin: -35px 0 0 -12px;
}
.two-text {
  float: left;
  width: 275px;
  padding-top: 30px;
}
.two-text span {
  display: inline-block;
  width: 100%;
  color: #fff;
}
.two-span1 {
  font-size: 24px;
}
.two-span2 {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1.5;
}
.two-del {
  position: absolute;
  top: -32px;
  right: 0;
  display: inline-block;
  width: 27px;
  height: 27px;
  background-color: #4c4c4c;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 27px;
  font-size: 20px;
  cursor: pointer;
}
.two-cont {
  width: 100%;
  text-align: center;
  padding-top: 37px;
  font-size: 12px;
}
.two-code {
  display: inline-block;
  width: 242px;
  height: 246px;
  margin: 16px 0;
}
.two-code img {
  width: 100%;
  height: 100%;
}
.Free-reservation input {
  font-family: "microsoft yahei";
}
.Free-reservation select {
  font-family: "microsoft yahei";
}
.ri-free {
  cursor: pointer;
}
.ri-free:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
/*蒙版*/
#seMask{
	display: none;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 52;
	width: 100%;
	background-color: #000;
	opacity: 0.4;
	filter: alpha(opacity=40);
}
/*资讯信息*/
.informationL{
	margin-top: 12px;
	border: 1px solid #E5E5E5;
}
.informationL h4{
	padding-left: 13px;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	border-bottom: 1px solid #E5E5E5;
	font-weight: normal;
}
.informationL ul{
	padding: 10px 0 28px;
}
.informationL ul li{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin: 18px 14px 0;
	margin-top: 18px;
	height: 1em;
}
/*免费报价申请*/
.immedGet{
	display: block;
	height: 35px;
	line-height: 35px;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 16px;
	letter-spacing: 1px;
	background-color: #D21E2F;
	font-weight: normal;
}
.quote_box{
	margin-top: 12px;
}
.QB_select{
	width: 88px;
	height: 38px;
}
.QB_select select{
	width: 100%;
	height: 100%;
	border: 1px solid #e5e5e5;
	font-family: "microsoft yahei";
	padding-left: 11px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #A2A2A2;
}
.QB_selA{
	float: left;
}
.QB_selB{
	float: left;
	margin-left: 6px;
}
.QB_selC{
	float: right;
}
.phBox em{
	position: absolute;
	top: 0;
	right: 13px;
	line-height: 38px;
	color: #A2A2A2;
}

/*右边板块内容*/
.main_right{
	float: right;
	width: 888px;
	border: 1px solid #E5E5E5;
	margin-bottom: 27px;
	min-height: 789px;
}
.MR_href{
	overflow: hidden;
	height: 158px;
	border-bottom: 1px solid #E5E5E5;
}
.MRH_title{
	width: 40px;
	float: left;
	padding: 16px 12px;
	height: 100%;
	line-height: 1.5em;
	box-sizing: border-box;
	color: #D21E2F;
	background-color: #E5E5E5;
}
.MRH_icons{
	overflow: hidden;
	width: 845px;
	float: right;
}
.MRH_icons li{
	float: left;
	width: 140px;
	text-align: center;
}
.MRH_icons li a{
	color: #A2A2A2;
	overflow: hidden;
}
.MRH_icons li i{
	display: block;
	width: 70px;
	height: 70px;
	margin: 28px auto 22px;
	background-image: url(../img/calculator/NavIcons.png);
	background-repeat: no-repeat;
}
.MRH_i1 i{background-position: 0px -4px;}
.MRH_i2 i{background-position: -143px -4px;}
.MRH_i3 i{background-position: -275px -4px;}
.MRH_i4 i{background-position: -414px -4px;}
.MRH_i5 i{background-position: -551px -4px;}
.MRH_i6 i{background-position: -689px -4px;}
.MRH_icons li:hover a{
	color: #D21E2F;
}
.MR_href .MRHI_Active a{
	color: #D21E2F;
}
.MRHI_Active i{
	background-position-y: -130px;
}

/*右边内容输入板块*/
.MR_main{
	width: 660px;
	margin: 0 auto;
	padding: 36px 0 0;
}
.MRM_tipBlack{
	font-size: 16px;
}
.input_main{
	overflow: hidden;
	padding-bottom: 16px;
	border-bottom: 1px dashed #E5E5E5;
}
.IM_left{
	float: left;
	width: 420px;
}
.IM_left h5,.IM_right h5{
	font-size: 14px;
	margin: 22px 0 20px;
}
.IMI_inp,.IMI_result{
	margin-bottom: 9px;
}
.IMI_inp input,.IMI_result input{
	width: 92px;
	height: 38px;
	margin: 0 8px 0 2px;
	padding-left: 8px;
}
.IM_tipColor{
	color: #D21E2F;
	margin-top: 19px;
}

/*计算结果*/
.result_title{
	font-size: 14px;
	margin: 16px 0 10px;
	font-weight: bold;
}
.result_btn{
	display: block;
	width: 100px;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	background-color: #D21E2F;
	margin-top: 20px;
}
.result_btn:hover{
	color: #fff;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.result_tip{
	display: inline-block;
	height: 36px;
	line-height: 36px;
	padding: 0 22px;
	border: 1px solid #E5E5E5;
	margin: 26px 0 16px;
}
.result_tip i{
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../img/calculator/warn.png) 0 center/cover no-repeat;
	vertical-align: middle;
	margin-right: 10px;
	margin-top: -4px;
}
.IMI_select{
	margin-bottom: 9px;
}
.IMI_select select{
	height: 38px;
	margin: 0 8px 0 2px;
	padding-left: 8px;
	font-size: 14px;
	font-family: "microsoft yahei";
}

/*输入板块右边内容*/
.IM_right{
	float: right;
	width: 220px;
}

/*tips层*/
.tipsT{
	position: absolute;
	top: 100px;
	left: 100px;
	z-index: 88;
}
.tipsT span{
	display: inline-block;
	background-color: #D21E2F;
	color: #fff;
	padding: 9px 12px;
	position: relative;
	border-radius: 4px;
}
.tipsT i{
	position: absolute;
	left: -8px;
	top: 1px;
	width: 0;
	height: 0;
	font-size: 0;
	border-style: solid;
	border-width: 8px;
	border-color: transparent #D21E2F #D21E2F transparent;
}

.bounceInT{
	-webkit-animation: bounceInT 0.4s ease-in;
	-moz-animation: bounceInT 0.4s ease-in;
	-ms-animation: bounceInT 0.4s ease-in;
	-o-animation: bounceInT 0.4s ease-in;
	animation: bounceInT 0.4s ease-in;
}
@-webkit-keyframes name{
	0%{
		opacity: 0;
	    -webkit-transform: scale(.5);
	    -ms-transform: scale(.5);
	    transform: scale(.5);
	}
	30%{
		opacity: 1;
	    -webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	    transform: scale(1.1);
	}
	60%{
	    -webkit-transform: scale(0.9);
	    -ms-transform: scale(0.9);
	    transform: scale(0.9);
	}
	80%{
	    -webkit-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	    transform: scale(1.05);
	}
	100%{
	    -webkit-transform: scale(1);
	    -ms-transform: scale(1);
	    transform: scale(1);
	}
}
@-moz-keyframes name{
	0%{
		opacity: 0;
	    -webkit-transform: scale(.5);
	    -ms-transform: scale(.5);
	    transform: scale(.5);
	}
	30%{
		opacity: 1;
	    -webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	    transform: scale(1.1);
	}
	60%{
	    -webkit-transform: scale(0.9);
	    -ms-transform: scale(0.9);
	    transform: scale(0.9);
	}
	80%{
	    -webkit-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	    transform: scale(1.05);
	}
	100%{
	    -webkit-transform: scale(1);
	    -ms-transform: scale(1);
	    transform: scale(1);
	}
}
@-ms-keyframes name{
	0%{
		opacity: 0;
	    -webkit-transform: scale(.5);
	    -ms-transform: scale(.5);
	    transform: scale(.5);
	}
	30%{
		opacity: 1;
	    -webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	    transform: scale(1.1);
	}
	60%{
	    -webkit-transform: scale(0.9);
	    -ms-transform: scale(0.9);
	    transform: scale(0.9);
	}
	80%{
	    -webkit-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	    transform: scale(1.05);
	}
	100%{
	    -webkit-transform: scale(1);
	    -ms-transform: scale(1);
	    transform: scale(1);
	}
}
@-o-keyframes name{
	0%{
		opacity: 0;
	    -webkit-transform: scale(.5);
	    -ms-transform: scale(.5);
	    transform: scale(.5);
	}
	30%{
		opacity: 1;
	    -webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	    transform: scale(1.1);
	}
	60%{
	    -webkit-transform: scale(0.9);
	    -ms-transform: scale(0.9);
	    transform: scale(0.9);
	}
	80%{
	    -webkit-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	    transform: scale(1.05);
	}
	100%{
	    -webkit-transform: scale(1);
	    -ms-transform: scale(1);
	    transform: scale(1);
	}
}
@keyframes bounceInT{
	0%{
		opacity: 0;
	    -webkit-transform: scale(.5);
	    -ms-transform: scale(.5);
	    transform: scale(.5);
	}
	30%{
		opacity: 1;
	    -webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	    transform: scale(1.1);
	}
	60%{
	    -webkit-transform: scale(0.9);
	    -ms-transform: scale(0.9);
	    transform: scale(0.9);
	}
	80%{
	    -webkit-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	    transform: scale(1.05);
	}
	100%{
	    -webkit-transform: scale(1);
	    -ms-transform: scale(1);
	    transform: scale(1);
	}
}